<% coordinate.comments.each do |comment| %>
  <table class="table">
    <tr>
      <td>
        <%= link_to admin_user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image(50,50) %>
        <% end %>
      </td>
      <td><%= comment.comment %></td>
      <td><%= link_to "削除", admin_coordinate_comment_path(comment.coordinate, comment), method: :delete, remote: true, class: "btn btn-outline-danger", data: { confirm: '本当に削除しますか？'} %></td>
    </tr>
  </table>
<% end %>