<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @tag_list.each do |list| %>
        <%= link_to list.tag_name, tag_coordinates_path(coordinate_tag_id: list.id) %>
        <%= "(#{list.coordinates.count})" %>
      <% end %>
      
      <%= "(#{@tag.tag_name})" %>の投稿一覧
      
      <%= render "layouts/coordinates", coordinates: @coordinates %>
      
    </div>
  </div>
</div>
