<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mb-5 pt-2">
      <h1>コーディネート、もう悩まない！</h1>
        <P>ようこそ「Freedom Style」へ！</br>
           このサイトは日々の洋服選びで迷っている方々のヒントがたくさんあります。</br>
           会員登録で自分の情報を入力すれば、自分に合ったコーディネートを探すことができますよ！</br>
           もちろん！自分のコーディネートを投稿して、みんなのヒントにすることもできます！</P>
      
      <div style="position: relative;">
        <%= image_tag 'top.jpg', class: "mx-auto img-fluid" %>
      </div>
      
    </div>
  </div>