<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">コーディネート、もう悩まない！</h1>
        <P class="text-center">ようこそ「Freedom Style」へ！</br>
           このサイトは日々の洋服選びで迷っている方々のヒントがたくさんあります。</br>
           会員登録で自分の情報を入力すれば、自分に合ったコーディネートを探すことができますよ！</br>
           もちろん！自分のコーディネートを投稿して、みんなのヒントにすることもできます！</P>
      <div class="col-md-10 offset-md-1 text-center mb-5 pt-2">
        <div id="container">
        <div id="theTarget" style="position: relative;">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
          <div class="image5"></div>
        </div>
      </div>
    </div>
  </div>