/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "skippr";

 .coordinate_image {
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
}
.coordinate_image .caption {
	font-size:		100%;
	color:			#fff;
	padding-top:		80px;
}
.coordinate_image .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
	-webkit-transform:	scale(0);	/* 大きさを０にして表示しない */
	transform:		scale(0);
}
.coordinate_image:hover .mask {
	-webkit-transform:	scale(1);	/* 大きさを１にして表示する */
	transform:		scale(1);
}

#header{
  z-index: 9999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.push {
  height: 80px;/*フッターと同じ高さに指定*/
}


.navbar-brand{
	background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	display: inline-block;
}

.image1 {
  background-image: url(image1.jpg);
}
.image2 {
  background-image: url(image2.jpg);
}
.image3 {
  background-image: url(image3.jpg);
}
.image4 {
  background-image: url(image4.jpg);
}
.image5 {
  background-image: url(image5.jpg);
}

#container{
  height: 500px;
}

.top-container {
  background-image: image-url('top.jpg');
  background-size: cover;
  background-position: top;
}

.heart{
  color: #FF0461;
}


h1,h2,h3,h4,h5,p {
  font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック";
}

#index-scroll{
  z-index: 9999;
  position: fixed;
  top: 200px;
}


footer{
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 50px;
 background-color: #33CCFF;
 color: #fff;
 text-align: center;
}