  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #33CCFF;">
    <div class="container">
      <a class="navbar-brand h1" href="/admin" style="font-family: cursive; font-size: 35px;"><span>Freedom Style</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to admin_coordinates_path, class: 'nav-link text-light' do %>
              コーディネート一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_users_path, class: 'nav-link text-light' do %>
              ユーザー一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_items_path, class: 'nav-link text-light' do %>
              アイテム一覧
            <% end %>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
              ログアウト
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
