<div class="d-flex flex-wrap">
  <% coordinates.each do |coordinate| %>
    <div class="coordinate_image">
      <%= link_to coordinate_path(coordinate) do %>
        <%= image_tag coordinate.get_coordinate_image(300,300), class: "img-fluid img-thumbnail" %>
          <div class="mask">
            <div class="caption">
              <p><%= coordinate.created_at.strftime('%Y/%m/%d') %></p>
              <h5><%= coordinate.title %></h5>
            </div>
        	</div>
      <% end %>
    </div>
  <% end %>
</div>