<div class="row card-group mx-auto">
  <% coordinates.each do |coordinate| %>
    <div class="coordinate_image" style="width: 15rem; height: 18rem;">
      <div class="card">
        <%= link_to coordinate_path(coordinate) do %>
          <%= image_tag coordinate.coordinate_image, class: "img-fluid card-img-top" %>
            <div class="mask">
              <div class="caption"><%= coordinate.title %></div>
          	</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>