<div class="d-flex flex-wrap">
  <% coordinates.each do |coordinate| %>
    <div class="coordinate_image mx-auto">
      <%= link_to coordinate_path(coordinate), :target => ["_blank"] do %>
        <%= image_tag coordinate.get_coordinate_image(220,220), class: "image-fluid img-thumbnail" %>
          <div class="mask">
            <div class="caption"><%= coordinate.title %></div>
        	</div>
      <% end %>
    </div>
  <% end %>
</div>