<div class="justify-content-end form-inline">
  <input id="cityname" type="text" size="14" maxlength="14" placeholder="Tokyo">
  <button class="btn btn-outline-primary btn-sm" id="btn">検索</button>
  <span id="place"></span>
  <span>天気 :</span>
  <div id="icon"><img id="img"></div>
  <span id="weather"></span>
  <span>気温 :</span>
  <span class="text-danger" id="temp_max"></span>℃/<span class="text-primary" id="temp_min"></span>℃
</div>