<h4>天気情報</h4>
<label>都市名：</label>
<input id="cityname" type="text" size="14" maxlength="14" placeholder="Tokyo">
<button class="btn btn-outline-primary btn-sm" id="btn">検索</button><br>
<span>場所 :</span>
<span id="place"></span><br>
<span>気温(最高/最低):</span>
<span class="text-danger" id="temp_max"></span>℃/<span  class="text-primary" id="temp_min"></span>℃<br>
<span>天気 :</span>
<span id="weather"></span>
<div id="icon"><img id="img"></div>